/*inner global*/

.inner-cont { }
.sunbanner{width: 100%;height:250px; overflow: hidden; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
.sunsider{border-bottom:1px solid #c6c6c6;}
.sunsidernav{width:1220px;margin:0 auto;border-left:1px solid #c6c6c6;}
.sunsidernav li{height:62px;display: inline-block; *display:inline; zoom: 1;font: 300 16px/62px microsoft yahei;border-right:1px solid #c6c6c6; }
.sunsidernav li a{padding:0 40px;height: 62px; display: inline-block;}
.sunsidernav li.active a, .sunsidernav li:hover a{color: #365da8;font-weight: bold;}

/* about */

.innertit{ font: 600 30px/36px microsoft yahei;color: #000;text-align: center;}
.btline{width: 80px; height: 2px; background: #333333;margin:15px auto 5px auto;}
.sectionmode01{padding:60px 0;}
.sectionmode01 .wrapper,.sectionmode02 .wrapper,.sectionmode03 .wrapper{width: 1220px;}
.agsjsbox{margin-top: 40px;}
.agsjsbox .pic{width:550px; height:525px;overflow: hidden; float: right;}
.agsjsbox .pic img{height: 100%;transition: transform 2s;}
.agsjsbox .pic:hover img{ transform: scale(1.1);} 
.agsjsbox .txtarea{width:600px;height: 525px;overflow: hidden; float: left;font: 300 16px/30px microsoft yahei;}
.sectionmode02{padding:60px 0; background: url(../images/ht_pic08.jpg) no-repeat center bottom;background-size: cover; }
.sectionmode02 .innertit{color: #fff;}
.sectionmode02 .btline{background: #fff;}

.gszzscroll{ position:relative;}
.gszzscroll .hd .prev,.gszzscroll .hd .next{ font-size:38px;color: #fff; font-weight: normal;
	position: absolute; top: 40%;z-index: 9; margin-right:5px; margin-top:10px;  overflow:hidden; cursor:pointer;}
.gszzscroll .hd .prev{left:-50px;}
.gszzscroll .hd .next{right:-50px;}

.gszzscroll .hd ul{position: absolute; bottom: 0;left: 50%;margin-left: -20px;}
.gszzscroll .hd ul li{ float:left;  width:14px; height:14px; overflow:hidden; margin-right:5px; cursor:pointer; background: #fff;text-indent: 20px;
-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
 }
.gszzscroll .hd ul li.on{background: #454949; }

.gszzscroll .bd{margin: 30px 0;padding-bottom: 40px;  }
.gszzscroll .bd ul{ overflow:hidden; zoom:1; }
.gszzscroll .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.gszzscroll .bd ul li .pic{ text-align:center; }
.gszzscroll .bd ul li .pic img{ width:290px; height:415px; display:block;}
.gszzscroll .bd ul li .pic a:hover img{ border-color:#999;  }

.sectionmode03{padding:60px 0; background: url(../images/innerbg01.jpg) no-repeat center bottom;background-size: cover; }
.qunar { width:100%; position: relative;	overflow: hidden;}
.qunar li {position: relative; height:420px; overflow: hidden;}
.qunar .txtarea {position: absolute;left: 0;text-align: center; top: 0; width: 450px; height:415px; overflow: hidden; z-index: 20; color: #fff;background: #395ea5;
}
.qunar .txtarea h2{ font: 600 30px/36px microsoft yahei;color: #fff;padding-top: 50px;}
.qunar .txtarea .line{width: 80px; height: 2px; background: #fff;margin:15px auto 15px auto;}
.qunar .txtarea .desc{font: 300 24px/40px microsoft yahei;color: #fff;padding:0 50px;}

.qunar .pic{ position: absolute;right:80px;top: 0;}
.qunar .pic img{width: 550px; height: 420px;transition: transform 2s;}
.qunar .pic:hover img{ transform: scale(1.1);}   

.qunar .prev, .qunar .next {position: absolute;	z-index: 30;font-size:72px;top:150px; color: #a0a0a0;}
.qunar .prev {left:520px;}
.qunar .next {right: 10px;}
.qunar .prev:hover, .qunar .next:hover{color: #395ea5;}

.ht_qywh { width:100%; position: relative;	overflow: hidden;margin-top: 40px;}
.ht_qywh li {position: relative; height:420px; overflow: hidden;}
.ht_qywh .tit {position: absolute;left: 0;text-align: center; bottom: 0; width: 100%; height:60px; overflow: hidden; z-index: 20; color: #fff;
font: 300 24px/60px microsoft yahei;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');background:rgba(0,0,0,0.7);}

.ht_qywh .pic{width:100%; height:500px;overflow: hidden;}
.ht_qywh .pic img{width:100%; height:500px;transition: transform 2s;}
.ht_qywh .pic:hover img{ transform: scale(1.1);}   

.ht_qywh .prev, .ht_qywh .next {position: absolute;	z-index: 30;font-size:36px; bottom:0; color: #fff;}
.ht_qywh .prev {left:10px;}
.ht_qywh .next {right:10px;}
.ht_qywh .prev:hover, .ht_qywh .next:hover{color: #395ea5;}


/* tech */

.techpart01{margin-top: 40px;}
.techpart01 .pic{width:610px; height:337px;overflow: hidden; float: right;}
.techpart01 .pic img{height: 100%;transition: transform 2s;}
.techpart01 .pic:hover img{ transform: scale(1.1);} 
.techpart01 .txtarea{width:550px;height:337px;overflow: hidden; float: left;font: 300 16px/30px microsoft yahei;}

.technmode02{padding:60px 0; background: url(../images/innerbg02.jpg) no-repeat center bottom;background-size: cover; }
.technmode02 .wrapper{width: 1220px;}
.technmode02 .innertit{color: #fff;}
.technmode02 .btline{background: #fff;}
.technmode02 .sbqkjs{font: 300 16px/30px microsoft yahei;color: #fff;margin-top: 30px;}
.techscroll{margin-top:30px;position:relative; }
.techscroll ul{ overflow:hidden; zoom:1; }
.techscroll ul li{ margin:0 5px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.techscroll ul li .pic{ width:295px; height:220px; overflow: hidden;}
.techscroll ul li .pic img{ width:295px; height:220px; transition: transform 2s;}
.techscroll ul li:hover .pic img{ transform: scale(1.1);} 
.techscroll ul li .tit{color: #fff;font: 300 16px/30px microsoft yahei;margin-top: 10px;} 
.techscroll .prev,.techscroll .next{ font-size:38px;color: #fff; font-weight: normal;
	position: absolute; top:80px;z-index: 9; margin-right:5px;  overflow:hidden; cursor:pointer;}
.techscroll .prev{left:-50px;}
.techscroll .next{right:-50px;} 

.zlzs_pic{margin-top:30px;position:relative; }
.zlzs_pic ul{ overflow:hidden; zoom:1; }
.zlzs_pic ul li{ margin:0 5px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.zlzs_pic ul li .pic{ width:230px; height:330px; overflow: hidden;}
.zlzs_pic ul li .pic img{ width:230px; height:330px; transition: transform 2s;}
.zlzs_pic ul li:hover .pic img{ transform: scale(1.1);} 
.zlzs_pic ul li .tit{color: #666;font: 300 16px/30px microsoft yahei;margin-top: 10px;} 
.zlzs_pic .prev,.zlzs_pic .next{ font-size:58px;color: #2b5097; font-weight: normal;
	position: absolute; top:110px;z-index: 9; margin-right:5px;  overflow:hidden; cursor:pointer;}
.zlzs_pic .prev{left:-50px;}
.zlzs_pic .next{right:-50px;} 


/*********news **********/
.newsmode01{padding:30px 0;}
.newsmode01 .wrapper{width: 1220px;}

.lastnews{ position:relative;}
.lastnews .hd .prev,.lastnews .hd .next{ font-size:38px;color: #365da8; font-weight: normal;
	position: absolute; top: 40%;z-index: 9; margin-right:5px; margin-top:10px;  overflow:hidden; cursor:pointer;}
.lastnews .hd .prev{left:-50px;}
.lastnews .hd .next{right:-50px;}

.lastnews .hd ul{position: absolute; bottom: 0;left: 50%;margin-left: -20px;}
.lastnews .hd ul li{ float:left;  width:14px; height:14px; overflow:hidden; margin-right:5px; cursor:pointer; background: #365da8; border:2px solid #365da8; text-indent: 20px;
-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
 }
.lastnews .hd ul li.on{background: #fff; }

.lastnews .bd{margin: 30px 0;padding-bottom: 40px;  }
.lastnews .bd ul{ overflow:hidden; zoom:1; }
.lastnewslist li{ margin:0 8px; float:left;width: 400px; height: 400px; overflow: hidden; background: #000;position: relative;}
.lastnewslist li .pic{}
.lastnewslist li .pic{ width:400px; height:400px; overflow: hidden;}
.lastnewslist li .pic img{ width:400px; height:400px; transition: transform 2s;}
.lastnewslist li:hover .pic img{ transform: scale(1.1);filter: alpha(opacity=50);opacity: 0.5;} 
.lastnewslist li .cover{ position: absolute;bottom: 0; left: 0; width: 100%;height: 150px; background: #dadee5;
	-webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}
.lastnewslist li .warp{padding:40px;font: 700 18px/24px microsoft yahei; } 
.lastnewslist li .date{margin-bottom: 10px;}
.lastnewslist li:hover .cover{height: 100%; background:none;}
.lastnewslist li:hover .cover{color:#fff;}
.lastnewslist li:hover .cover .date{font-size: 24px;margin-bottom: 200px;margin-top: 20px;}
.lastnewslist li:hover .cover .date .year{display: block;font-size: 38px;margin-bottom: 20px;}
.lastnewslist li:hover .cover .date .yc{display: none;}
.news-list{padding: 30px 0;}
.news-list li {width:100%;height:180px;margin-top:30px;border-bottom: 1px dashed #d9d9d9; font-family: microsoft yahei;}
.news-list li .date{ float:right;font:300 12px/24px microsoft yahei; color: #999;}
.news-list li .textarea h3 a{color:#333333;font:700 18px/24px microsoft yahei;}
.news-list li .textarea h3 a:hover{ color:#365da8;}
.news-list li .textarea .desc{height:48px;margin:20px 0;font:300 14px/24px microsoft yahei; color: #666;}
.news-list li .textarea .more a{ background: #365da8;color: #fff;padding:7px 30px; font-size: 14px;display: inline-block;}
.news-list li .textarea .more a:hover{ background: #3464c2;}

.newsh{width:100%;text-align: center;}
.newtitle{font: 18px/24px microsoft yahei;color:#000;}
.newsh_cn {padding:20px 0;}
.newsh_cn p{/*text-indent:20px;*/ font: 14px/24px microsoft yahei;margin-top: 15px;}
.newsh .byline{height:50px;color:#999;line-height:50px;border-bottom:1px solid #e9e9e9;}
.newsh .byline span{margin-right:20px;display: inline-block;}
.newsh .byline .bdsharebuttonbox{display: inline-block;}
.newsh .byline .bdshare-button-style0-16:after {    display: inline-block;}

.newsh .byline .bdshare-button-style0-16 a, .newsh .byline .bdshare-button-style0-16 .bds_more {
    float: left;    line-height: 50px;    height: 50px;    margin:0;
}
.newsh_cn table {
	border-left:#c6c6c6 1px solid;
	border-top:#c6c6c6 1px solid;
	margin-bottom:10px;
}
.newsh_cn table td {
	border-right:#c6c6c6 1px solid;
	border-bottom:#c6c6c6 1px solid;
	padding:5px 10px 4px;
}
.newsh .byline a{color: #999;}
.toolbar{padding:30px 0 0 0; border-top:1px solid #d8d8d8; position:relative;font: 14px/24px microsoft yahei; margin-top:20px;}
.fhshare{ position: absolute; right: 0; top:34px;}
.fhshare a{padding:8px 30px;border:1px solid #d8d8d8;color:#666;}
.fhshare a:hover{border:1px solid #365da8;color:#fff; background-color: #365da8; text-decoration: none;}
.fhshare .fa{margin-right:10px;}
.newsshare{float: right;}

.htcontact01 {padding-top: 50px;}
.htcontact01 li { width: 25%; float: left; height: 72px; }
.htcontact01 li .inco { width: 60px; height: 60px; font: 600 48px/60px microsoft yahei; color: #365da8; float: left; text-align: center; }
.htcontact01 li .txtarea { width: calc(100% - 100px); padding-left: 20px; float: left; font: 300 14px/24px microsoft yahei; color: #282828; }
.htcontact02 img{max-width: 100%;}

.inner_contact .mod01 input{width: calc(33% - 60px); float: left;margin-right:20px;}
.inner_contact .mod01 {margin-top: 20px;}
.inner_contact{padding:80px 0;}

.inner_contact .mod01 input,.inner_contact textarea{padding: 12px 20px; font-size: 14px; font-family:microsoft yahei; margin-bottom: 20px;border:1px solid #d1d1d1;}
.inner_contact textarea{height: 240px;width: calc(100% - 68px);}
.inner_contact .ui-btn{cursor: pointer;text-align: center; padding:10px 0;width:250px;font-size:14px; font-family:microsoft yahei; color: #fff; text-align: center;
border:0 none; background: #365da8;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
    border-radius:16px;}
.inner_contact .mod02{text-align: center;}
.inner_contact .mod02 p{font: 300 13px/24px microsoft yahei;color: #999;margin-top: 10px;}


/* ==========================================================================
   Pagination
   ========================================================================== */
#Lb_pager {
    margin-top: 30px;margin-bottom: 30px;
}
#Lb_pager .pages {
    text-align: center
}
#Lb_pager .pages a {
    display: inline-block;
    padding: 0 12px;
    color: #333;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    border:1px solid #cccccc;border-right: 0;
}
#Lb_pager .pages a:last-child {border-right:1px solid #cccccc;}
#Lb_pager .pages a:hover {
    color: #fff;
    background-color: #0061b0;border-color:#0061b0;    
}
#Lb_pager .pages .pgcurrent {
    color: #fff;
    background-color: #0061b0;
    cursor: default;border:1px solid #0061b0;
}
#Lb_pager .pages .pgempty {
    cursor: not-allowed
}